html{
    scroll-behavior: smooth;
}
body{
    font-family: "monospace",sans-serif;
    background: linear-gradient(45deg,aliceblue,white,aliceblue);
    text-align: center;
}
h1{
    font-family: monospace,sans-serif;
    font-size: 50px;
}
h2{
    background: linear-gradient(45deg ,cornflowerblue,black,cornflowerblue);
    color: white;
    padding: 25px;
    border-radius: 50%;
    box-shadow: 0 0 20px black;
    width: 800px;
    margin: auto;
}
table{
    width: 100%;
}
img{
    border-radius: 10px;
    box-shadow: 0 0 10px red;
}